<%= content_for(:angular_app) do %>
  ng-app="app"
<% end %>
<div id="body-tainer" >
  <div class="container" id='show-tainer'>
    <div class="row cramped">
      <div class='col-sm-8 col-xs-6'>
        <div ui-view="title">
        </div>
      </div>
      <div class="col-sm-4 text-right" id='button-nav'>
        <div ui-view="boardNav"></div>
      </div>
    </div>
    <div ui-view="board"></div>
  </div>
</div>
