<%= content_for(:angular_app) do %>
  ng-app="app"
<% end %>
<div id="body-tainer" class="container">
  <div class="row">
    <div class='col-sm-8'>
      <h2>Projects Page</h2>
    </div>
    <div class="col-sm-4 text-right">
      <div ui-view="boardNav"></div>
    </div>
  </div>

  <div ui-view="board"></div>
</div>
