<div class="form-group">
  <div class="input-group">
    <span class="input-group-addon">
      <input ng-checked="activity.completed" ng-click="status()" type="checkbox" aria-label="...">
    </span>
    <p class="form-control">
      <a class="activity" onbeforesave="updateActivity({id: activity.id, description: $data})" editable-text="activity.description">{{activity.description}}</a>
    </p>
    <span class="input-group-addon">
      {{activity.completed ? "Donezo" : "Progress"}}
    </span>
  </div>
</div>
