<div class="row" >
  <div class="col-sm-12 list-card">
    <a href="" class="pull-right text-danger" ng-click="deleteCard(card)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
    <div class="thumbnail" ng-click="show()">
      <div class="caption">
        <h3>{{card.title}}</h3>
        <p class="date-color"><strong>Due: {{card.due_date | date}}</strong> <span ng-show="card.completed" class="glyphicon glyphicon-ok" aria-hidden="true"></span></p>
        <!-- <p>{{card.description}}</p> -->
      </div>
    </div>
  </div>
</div>
